<!DOCTYPE html>
<html>
<head>
  <title>Real-time Comment Feature</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
  <button id="connectButton">connect 요청</button>
  <button id="countButton">count 요청, 조회수 증가</button>
  <button id="changeArticleButton">현재 탭의 아티클 변경</button>
  <div id="count"></div>

  <button id="saveCommentButton">댓글 저장</button>
  <button id="getCommentsButton">댓글 가져오기</button>
  <div id="comments"></div>
  <input id="commentInput" type="text" placeholder="댓글을 입력하세요">
  <div id="count"></div>
</div>

<script>
  var BASE_URL = "http://localhost:8080";
  var count = null;
  // 탭 아이디 생성
  var tabId = generatetabId();

  // 아티클 아이디 생성, 뒤에 랜덤하게 수를 붙힘(1 or 2)
  var randomNumber = Math.floor(Math.random() * 2) + 1;
  var articleId = "news" + randomNumber;
  console.log('article id : ', articleId);
  var sse;

  function handleConnect() {
    // SSE 연결 요청 시 탭 아이디를 쿼리 파라미터로 추가
    sse = new EventSource(BASE_URL + "/connect?tabId=" + tabId + "&articleId=" + articleId);

    sse.addEventListener('connect', function (e) {
      var receivedConnectData = e.data;

      console.log('connect event data: ', receivedConnectData);
    });

    sse.addEventListener('count', function (e) {
      var receivedCount = e.data;

      console.log("count event data", receivedCount);
      count = receivedCount;
      document.getElementById('count').textContent = count;
    });

    sse.onerror = function() {
      // 연결에 문제가 발생했을 때의 처리 로직
      console.log("Error occurred while connecting to server.");

      // 연결이 닫힌 경우의 처리 로직
      if (sse.readyState == EventSource.CLOSED) {
        sse.close();
        console.log("Connection to server closed. please re-connect");
      }
    };
  }

  function handleChangeArticleClick() {
    var newArticleId;
    var oldArticleId = articleId;
    if (oldArticleId === 'news1') {
      newArticleId = 'news2';
    } else if (oldArticleId === 'news2') {
      newArticleId = 'news1';
    }
    console.log('new article id : ', newArticleId);
    articleId = newArticleId;

    sse.close()
    // SSE 연결 요청 시 탭 아이디를 쿼리 파라미터로 추가
    sse = new EventSource(BASE_URL + "/connect?tabId=" + tabId + "&articleId=" + articleId);

    sse.addEventListener('connect', function (e) {
      var receivedConnectData = e.data;

      console.log('connect event data: ', receivedConnectData);
    });

    sse.addEventListener('count', function (e) {
      var receivedCount = e.data;

      console.log("count event data", receivedCount);
      count = receivedCount;
      document.getElementById('count').textContent = count;
    });

    sse.onerror = function() {
      // 연결에 문제가 발생했을 때의 처리 로직
      console.log("Error occurred while connecting to server.");

      // 연결이 닫힌 경우의 처리 로직
      if (sse.readyState == EventSource.CLOSED) {
        sse.close();
        console.log("Connection to server closed. please re-connect");
      }
    };
  }

  // 탭 아이디 생성 함수
  function generatetabId() {
    // 원하는 탭 아이디 생성 방식을 구현
    // 예시: 랜덤한 문자열 생성
    var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var tabId = '';
    for (var i = 0; i < 10; i++) {
      tabId += chars.charAt(Math.floor(Math.random() * chars.length));
    }
    return tabId;
  }

  function handleSaveComment() {
    var comment = document.getElementById('commentInput').value;
    if (comment) {
      axios.post(BASE_URL + "/comment", {
        content: comment
      }, {
        params: { tabId: tabId, articleId: articleId }
      }).then(function () {
        console.log('댓글이 저장되었습니다.');
        document.getElementById('commentInput').value = '';
      }).catch(function (error) {
        console.log('error', error);
      });
    }
  }

  function handleGetComments() {
  axios.get(BASE_URL + "/comments", {
    params: {
      articleId: articleId
    }
  }).then(function (response) {
    var comments = response.data;
    var commentsDiv = document.getElementById('comments');
    commentsDiv.innerHTML = '';
    comments.forEach(function (comment) {
      var commentDiv = document.createElement('div');
      commentDiv.textContent = comment.content; // "content"는 댓글의 내용을 담고 있는 필드로 가정합니다.
      commentsDiv.appendChild(commentDiv);
    });
    console.log('댓글을 가져왔습니다.');
  }).catch(function (error) {
    console.log('error', error);
  });
}

  document.getElementById('connectButton').addEventListener('click', handleConnect);
  document.getElementById('changeArticleButton').addEventListener('click', handleChangeArticleClick);

  document.getElementById('saveCommentButton').addEventListener('click', handleSaveComment);
  document.getElementById('getCommentsButton').addEventListener('click', handleGetComments);
</script>
</body>
</html>
