<!DOCTYPE html>
<html>
<head>
  <title>모두의 SSE</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
  <button id="connectButton">connect 요청</button>
  <button id="saveCommentButton">댓글 저장</button>
  <div id="comments"></div>
  <input id="commentInput" type="text" placeholder="댓글을 입력하세요">
</div>

<script>
  var BASE_URL = "http://localhost:8080";
  var count = null;
  // 탭 아이디 생성
  var tabId = generatetabId();

  // 아티클 아이디 생성, 뒤에 랜덤하게 수를 붙힘(1 or 2)
  var randomNumber = Math.floor(Math.random() * 2) + 1;
  var articleId = "news" + randomNumber;
  console.log('article id : ', articleId);
  var sse;

  function handleConnect() {
    // SSE 연결 요청 시 탭 아이디를 쿼리 파라미터로 추가
    sse = new EventSource(BASE_URL + "/connect?tabId=" + tabId + "&articleId=" + articleId);

    sse.addEventListener('connect', function (e) {
      var receivedConnectData = e.data;

      console.log('connect event data: ', receivedConnectData);
    });

    sse.addEventListener('newComment', function (e) {
        var receivedCommentData = JSON.parse(e.data);
        var commentsDiv = document.getElementById('comments');
        var commentDiv = document.createElement('div');
        // "content"는 댓글의 내용을 담고 있는 필드로 가정합니다.
        commentDiv.textContent = receivedCommentData.content;
        commentsDiv.appendChild(commentDiv);

        console.log('새 댓글을 추가했습니다.');
    });

    sse.onerror = function() {
      // 연결에 문제가 발생했을 때의 처리 로직
      console.log("Error occurred while connecting to server.");

      // 연결이 닫힌 경우의 처리 로직
      if (sse.readyState == EventSource.CLOSED) {
        sse.close();
        console.log("Connection to server closed. please re-connect");
      }
    };
  }

  // 탭 아이디 생성 함수
  function generatetabId() {
    // 원하는 탭 아이디 생성 방식을 구현
    // 예시: 랜덤한 문자열 생성
    var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var tabId = '';
    for (var i = 0; i < 10; i++) {
      tabId += chars.charAt(Math.floor(Math.random() * chars.length));
    }
    return tabId;
  }

  function handleSaveComment() {
    var comment = document.getElementById('commentInput').value;
    if (comment) {
      axios.post(BASE_URL + "/comment", {
        content: comment
      }, {
        params: { tabId: tabId, articleId: articleId }
      }).then(function () {
        console.log('댓글이 저장되었습니다.');

        // 댓글 목록에 추가
        var commentsDiv = document.getElementById('comments');
        var commentDiv = document.createElement('div');
        // 새로운 댓글의 내용
        commentDiv.textContent = comment;
        commentsDiv.appendChild(commentDiv);

        // 입력 필드 초기화
        document.getElementById('commentInput').value = '';
      }).catch(function (error) {
        console.log('error', error);
      });
    }
  }

  document.getElementById('connectButton').addEventListener('click', handleConnect);
  document.getElementById('saveCommentButton').addEventListener('click', handleSaveComment);
</script>
</body>
</html>
